<div class="container-fluid navheader">
	<div class="row">
		<div class="col-2 text-left">
			<a (click)="ngOnInit()"><i class="fas fa-home"></i></a>
		</div>
		<div class="col-8 text-center title">
			Cursos
		</div>
	</div>
</div>

<div class="container-fluid">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Lista de cursos</h5>
      <p class="card-text" *ngFor="let curso of cursos">{{curso.id}} - {{curso.nome}}</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
</div>