<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <span class="fa-stack fa-2x">
        <i class="fas fa-circle fa-stack-2x circle-icon"></i>
        <i class="fas fa-user fa-stack-1x"></i>
      </span>
      <span class="nome-aluno">{{aluno.nome}}</span>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="card">
    <div class="card-body" style="padding: 0;">
      <table id="myTable" class="table table-light table-bordered">
        <col style="width: 44%">
        <col style="width: 14%">
        <col style="width: 14%">
        <col style="width: 14%">
        <col style="width: 14%">
        <thead>
          <tr>
            <th (click)="sortTable(0)">
              <i [ngClass]="ordenacaoTabela[0] == '' ? 'fas fa-sort' : ordenacaoTabela[0] == 'cresc' ? 'fas fa-sort-down' : 'fas fa-sort-up'"></i>
              Atividade
            </th>
            <th (click)="sortTable(1)">
              <i [ngClass]="ordenacaoTabela[1] == '' ? 'fas fa-sort' : ordenacaoTabela[1] == 'cresc' ? 'fas fa-sort-down' : 'fas fa-sort-up'"></i>
              Data de Envio
            </th>
            <th style="cursor: default">Certificado</th>
            <th (click)="sortTable(2)">
              <i [ngClass]="ordenacaoTabela[2] == '' ? 'fas fa-sort' : ordenacaoTabela[2] == 'cresc' ? 'fas fa-sort-down' : 'fas fa-sort-up'"></i>
              Status
            </th>
            <th style="cursor: default">Validar</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let horaEnviada of horasEnviadas">
            <td>{{horaEnviada.atividade.nome}}</td>
            <td>{{horaEnviada.dataEnvio}}</td>
            <td class="center">
              <a class="btn btn-primary">Visualizar</a>
            </td>
            <td class="center"
            [ngStyle]="{'color': horaEnviada.horaComplementar.status.descricao == 'Aprovado'? 'lightgreen' : (horaEnviada.horaComplementar.status.descricao == 'Recusado'? 'red' : null)}">
              {{horaEnviada.horaComplementar.status.descricao}}
            </td>
            <td class="center-double" *ngIf="horaEnviada.horaComplementar.status.descricao == 'Pendente'">
              <a class="btn btn-success" (click)="openModalValidar(horaEnviada.horaComplementar)">Validar</a>
              <a class="btn btn-danger" (click)="openModalRecusar(horaEnviada.horaComplementar)">Recusar</a>
            </td>
            <td class="center-double" *ngIf="horaEnviada.horaComplementar.status.descricao == 'Recusado'">
              <a class="btn btn-primary" (click)="setStatusPendente(horaEnviada.horaComplementar)">Desfazer</a>
              <a class="btn btn-info" (click)="openModalRecusar(horaEnviada.horaComplementar)">Editar</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <a class="voltar" href="certificados">
        <i class="fas fa-caret-left" style="margin-right: 5px"></i>Voltar
      </a>
    </div>
  </div>
</div>


<div id="modal-recusar" class="modal fade" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body modal-body-recusar">
        <div class="form-group">
          <label>Adicionar comentário:</label>
          <textarea class="form-control" rows="5" [(ngModel)]="atualizaStatus.observacao"></textarea>
        </div>
      </div>
      <div class="modal-footer modal-footer-recusar">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary" (click)="postNewStatus()" data-dismiss="modal"
        [disabled]="atualizaStatus.observacao == ''">Enviar</button>
      </div>
    </div>
  </div>
</div>

<div id="modal-validar" class="modal fade" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Validar Atividade Complementar</h5>
      </div>
      <div class="modal-body">
        <p>
          Tem certeza que deseja validar a atividade complementar de {{aluno.nome}}? 
          Está ação não poderá ser desfeita.
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary" (click)="postNewStatus()"
        data-dismiss="modal">Confirmar</button>
      </div>
    </div>
  </div>
</div>