@import '../../../../assets/scss/variables';
@import '../../../../assets/scss/adm.scss';

.circle-icon {
  color: map-get($colors, mdgrey);
}

.nome-aluno {
  display: inline-block;
  font-size: 2em;
  font-weight: bolder;
  vertical-align: sub;
}

.voltar {
  color: black;
  font-size: 20px;
  text-decoration: none;
}

.modal-body-recusar {
  font-weight: bolder;
  padding-bottom: 0;
}

.modal-body-recusar, .modal-footer-recusar {
  background-color: map-get($colors, lggrey);
}