<div class="container-fluid">
  <div class="card centered">
    <h5 class="card-header">Telas do Sistema</h5>
    <div class="card-body">
      <a href="#" class="btn btn-uvv btn-lg btn-block" data-toggle="tooltip"
      title="Tela para registro dos Grupos de Atividades e de suas Atividades.">
        Atividades
      </a>
      <a href="certificados" class="btn btn-uvv btn-lg btn-block" data-toggle="tooltip"
      title="Tela para selecionar, por curso, certificados recebidos para validação.">
        Certificados
      </a>
    </div>
  </div>
</div>