<div class="container-fluid">
  <div class="card centered">
    <h5 class="card-header">Telas do Sistema</h5>
    <div class="card-body text-center">
      <h5 class="card-title">ADM</h5>
      <a href="atividades" class="btn btn-uvv btn-lg btn-block" data-toggle="tooltip"
      title="Tela para registro dos Grupos de Atividades e de suas Atividades.">
        Atividades
      </a>
      <a href="certificados" class="btn btn-uvv btn-lg btn-block" data-toggle="tooltip"
      title="Tela para selecionar, por curso, certificados recebidos para validação.">
        Certificados
      </a>
      <a href="pontuacoes/curso" class="btn btn-uvv btn-lg btn-block" data-toggle="tooltip"
      title="Tela para cadastrar pontuações das atividades do curso selecionado.">
        Pontuações por Curso
      </a>
      <h5 class="card-title mt-3">ALUNO</h5>
      <a href="aluno/add-horas" class="btn btn-uvv btn-lg btn-block" data-toggle="tooltip"
      title="Tela para o aluno cadastrar suas atividades complementares.">
        Adicionar Certificados
      </a>
      <a href="aluno/view-horas" class="btn btn-uvv btn-lg btn-block" data-toggle="tooltip"
      title="Tela para o aluno visualizar suas atividades complementares.">
        Visualizar Atividades Complementares
      </a>
    </div>
  </div>
</div>