<div class="container-fluid">
  <div class="card">
    <div class="card-header card-header-cursos">
      FILTRAR ALUNOS POR CURSO
    </div>
    <div class="card-body">
      <h5>Lista de cursos</h5>
        <input class="form-control" list="datalistOptions" id="exampleDataList" placeholder="Escolha um curso">         
          <datalist id="datalistOptions">
            <option value="Teste 1">
            <option value="Teste 2">
            <option value="Teste 3">
          </datalist>
  <h1></h1>
  <a href="#" class="btn btn-primary">Buscar</a>
    </div>
  </div>
