@import '../../../../assets/scss/variables';
@import '../../../../assets/scss/adm.scss';

.card-header-cursos {
  background: map-get($colors, mdgrey) !important;
  color: white;
  font-size: 19px;
  font-weight: bold;
}

.btn-white {
  color: map-get($colors, dkgrey);
  background-color: white;
  font-weight: bold;
  border-color: map-get($colors, dkgrey);
  border-radius: 8px;
  width: fit-content;
  height: fit-content;
  margin-left: 20px;
}

.btn-white:hover {
  background-color: map-get($colors, dkgrey);
  color: white;
}

.btn-white:disabled{
  cursor: not-allowed;
}

.btn-white[disabled]:hover{
  color: map-get($colors, dkgrey);
  background-color: white;
}

h5 {
  padding-top: 5px;
  padding-right: 20px;
}

.form-control{
  display:inline;
  width: 300px;
  border-radius: 8px;
}