<div class="container-fluid">
  <div class="card">
    <div class="card-header card-header-cursos">
      FILTRAR ALUNOS POR CURSO
    </div>
    <div class="card-body">
      <h5>Cursos</h5>
      <input #inputCurso class="form-control" list="lista-cursos" placeholder="Escolha um curso"
      (input)="selectCurso(inputCurso.value)">         
        <datalist id="lista-cursos">
          <option *ngFor="let curso of cursos">{{curso.name}}</option>
        </datalist>
      <button class="btn btn-white" [disabled]="desabilitaButton" (click)="loadHorasComplementares()">Buscar</button>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="card">
    <div class="card-header">
      <i class="fas fa-user" style="margin-right: 10px;"></i>Alunos
    </div>
    <div class="card-body" style="padding: 0;">
      <table id="myTable" class="table table-light table-bordered">
        <col style="width: 36%">
        <col style="width: 25%">
        <col style="width: 25%">
        <col style="width: 14%">
        <thead>
          <tr>
            <th (click)="sortTable(0)">
              <i [ngClass]="ordenacaoTabela[0] == '' ? 'fas fa-sort' : ordenacaoTabela[0] == 'cresc' ? 'fas fa-sort-down' : 'fas fa-sort-up'"></i>
              Nome
            </th>
            <th (click)="sortTable(1)">
              <i [ngClass]="ordenacaoTabela[1] == '' ? 'fas fa-sort' : ordenacaoTabela[1] == 'cresc' ? 'fas fa-sort-down' : 'fas fa-sort-up'"></i>
              Matrícula
            </th>
            <th (click)="sortTable(2)">
              <i [ngClass]="ordenacaoTabela[2] == '' ? 'fas fa-sort' : ordenacaoTabela[2] == 'cresc' ? 'fas fa-sort-down' : 'fas fa-sort-up'"></i>
              Certificados Pendentes
            </th>
            <th style="cursor: default"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let aluno of alunos">
            <td>{{aluno.nome}}</td>
            <td>{{aluno.matricula}}</td>
            <td>{{aluno.certificadosPendentes}}</td>
            <td class="center">
              <a class="btn btn-success" [routerLink]="['/certificados/aluno']" [queryParams]="{aluno: aluno.id}">
                Validar Certificados
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>