<div class="container-fluid">
  <div class="card">
    <div class="card-header card-header-cursos">
      FILTRAR ALUNOS POR CURSO
    </div>
    <div class="card-body">
      <h5>Cursos</h5>
      <input class="form-control" list="lista-cursos" placeholder="Escolha um curso" (change)="loadButton()" [(ngModel)]="textValue">         
        <datalist id="lista-cursos">
          <option *ngFor="let curso of cursos" [value]= curso.name> {{curso.name}} </option>
        </datalist>
      <button class="btn btn-white" [disabled] = "buttonFlag" (click)="loadHorasComplementares()">Buscar</button>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="card">
    <div class="card-header">
      <i class="fas fa-user" style="margin-right: 10px;"></i>Alunos
    </div>
    <div class="card-body" style="padding: 0;">
      <table id="myTable" class="table table-light table-bordered">
        <col style="width: 36%">
        <col style="width: 25%">
        <col style="width: 25%">
        <col style="width: 14%">
        <thead>
          <tr>
            <th onclick="sortTable(0)">Nome</th>
            <th onclick="sortTable(1)">Matrícula</th>
            <th onclick="sortTable(2)">Certificados Pendentes</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let aluno of alunos">
            <td>{{aluno.nome}}</td>
            <td>{{aluno.matricula}}</td>
            <td>{{aluno.certificadosPendentes}}</td>
            <td style="text-align: center;"><a class="btn btn-success">Validar Certificados</a></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>