<div class="container-fluid">
  <div class="card">
    <div class="card-header card-header-grey">
      EDITAR GRUPOS
    </div>
    <div class="card-body">
      <div class="row">
        <h5>Grupos</h5>
        <input #inputGrupo class="form-control form-control-card" list="lista-grupos" placeholder="Escolha um grupo"
        (input)="selectGrupo(inputGrupo.value)" [(ngModel)]="inputGrupoSelecionado">         
          <datalist id="lista-grupos">
            <option *ngFor="let grupo of grupos">{{grupo.nome}}</option>
          </datalist>
        <button class="btn btn-white" [disabled]="desabilitaButton || grupos.length == 0" (click)="searchAtividadesByGrupo()">
          Buscar
        </button>
      </div>
      <div class="row centered">
        <button class="btn btn-white mt-4" (click)="openModalAddGrupo()" [disabled]="alertas.grupo">
          Novo Grupo
        </button>
      </div>     
    </div>
  </div>
</div>

<div class="container-fluid" *ngIf="false">
  <div class="card">
    <div class="card-header">
      <i class="fas fa-user" style="margin-right: 10px;"></i>Criar nova atividade:
      <input type="text" [(ngModel)]="novaAtividade.nome"> 
      <button class="btn btn-white" (click)="createAtividade()">Adicionar</button>
    </div>
    <div class="card-body" style="padding: 0;">
      <table id="myTable" class="table table-light table-bordered">
        <col style="width: 95%">
        <col style="width: 5%">
        <thead>
        </thead>
        <tbody>
          <tr *ngFor="let atividade of atividades">
            <td>{{atividade.nome}}</td>
            <td class="center">
              <a class="btn btn-white" (click)="deleteAtividade(atividade.id)">
                X
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="container container-alert">
  <div class="alert alerta-erro" role="alert" *ngIf="alertas.grupo">
    <i class="fas fa-times-circle fa-lg"></i>{{alertas.grupoMensagem}}
  </div>
  <div class="alert alerta-erro alert-dismissible fade show" role="alert" *ngIf="alertas.saveGrupo">
    <i class="fas fa-times-circle fa-lg"></i>{{alertas.saveGrupoMensagem}}
    <button type="button" class="close" aria-label="Close" (click)="alertas.saveGrupo = false">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="alert alerta-erro alert-dismissible fade show" role="alert" *ngIf="alertas.deleteGrupo">
    <i class="fas fa-times-circle fa-lg"></i>{{alertas.deleteGrupoMensagem}}
    <button type="button" class="close" aria-label="Close" (click)="alertas.deleteGrupo = false">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
</div>

<div class="container-fluid" style="padding-top: 0;">
  <div class="row centered">
    <button class="btn btn-white" (click)="openModalDeleteGrupo()"
    *ngIf="grupoSelecionado.id != undefined && grupoSelecionado.id != null">
      Excluir Grupo
    </button>
    <a class="btn btn-white">Editar Pontuação</a>
  </div>
</div>


<div id="modal-add-grupo" class="modal fade" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Adicionar Novo Grupo de Atividades</h5>
      </div>
      <div class="modal-body">
        <div class="form-group row" style="padding: 0 16px">
          <div class="col-sm-2">
            <label class="font-size mr-2">Nome</label>
          </div>
          <div class="col-sm-10">
            <input class="form-control" type="text" [(ngModel)]="novoGrupo.nome">
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="saveGrupo()">Confirmar</button>
      </div>
    </div>
  </div>
</div>

<div id="modal-delete-grupo" class="modal fade" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body centered">
        <p style="text-align: center;">
          <i class="far fa-trash-alt fa-3x mb-2"></i>
          <br>
          Excluir o grupo {{grupoSelecionado.nome}} também excluirá as suas atividades.
          <br>
          Deseja prosseguir?
        </p>
      </div>
      <div class="modal-footer centered">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="deleteGrupo()">Confirmar</button>
      </div>
    </div>
  </div>
</div>