@import '../../../../assets/scss/variables';
@import '../../../../assets/scss/adm.scss';

.card-body-centered-lines {
  display: grid;
}

.centered {
  justify-content: center;
}

input {
  min-width: 50%;
}

.modal-body-editar {
  font-weight: bolder;
  padding-bottom: 0;
}

.modal-body-editar, .modal-footer-editar {
  background-color: map-get($colors, lggrey);
}