@import '../../../../assets/scss/variables';

.navheader-major {
  background: white;
  position: relative;

  .row:first-child {
    > div {
      height: 90px;
    }
  }
}

.navheader-logo {
  width: 200px;
  padding: 15px 10px 15px 0 !important;
}

.navheader-minor {
  background: map-get($colors, uvvblue) !important;
  width: 100%;
  height: 50px;
  color: white;
}