<div class="container-fluid">
  <div class="card">
    <div class="card-header card-header-grey">
      PONTUAÇÃO POR CURSO
    </div>
    <div class="card-body card-body-centered-lines">
      <div class="row">
        <h5>Área</h5>
        <select name="selectArea" class="form-control form-control-card"
        [(ngModel)]="idAreaSelecionada" (change)="loadCursos()">
          <option hidden disabled selected [value]="0">Escolha uma área</option>
          <option *ngFor="let area of areas" [value]="area.id">{{area.name}}</option>
        </select>         
        <h5>Curso</h5>
        <input #inputCurso class="form-control form-control-card" list="lista-cursos" placeholder="Escolha um curso"
        (input)="selectCurso(inputCurso.value)" [(ngModel)]="inputCursoSelecionado">         
          <datalist id="lista-cursos">
            <option *ngFor="let curso of cursos">{{curso.name}}</option>
          </datalist>
        <button class="btn btn-white" [disabled]="desabilitaButton || cursos.length == 0"
        (click)="setSelectedCurso()">
          Buscar
        </button>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid">
    <div class="card">
      <div class="card-header">
        <div class="row title-curso">{{cursoSelecionado.name}}</div>
      </div>
      <div class="card-body" style="padding: 0;">
        <table id="myTable" class="table table-light table-bordered">
          <col style="width: 70%">
          <col style="width: 10%">
          <col style="width: 10%">
          <col style="width: 10%">
          <thead>
            <tr>
              <th style="cursor: default">Atividades</th>
              <th style="cursor: default">Pontuação</th>
              <th style="cursor: default">Número Máximo</th>
              <th style="cursor: default">Converter Horas</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th colspan="4" class="table-collapse">
                <div class="accordion">
                  <div class="card" *ngFor="let item of tabela">
                    <div class="card-header header-collapse">
                      <button class="btn btn-link btn-block btn-collapse text-left" type="button" data-toggle="collapse"
                      [attr.data-target]="'#collapse'+item.grupo.id" aria-expanded="true">
                        {{item.grupo.nome}}
                      </button>
                    </div>           
                    <div id="collapse{{item.grupo.id}}" class="collapse">
                      <div class="card-body">
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                      </div>
                    </div>
                  </div>
                </div>
              </th>
            </tr>
          </tbody>
        </table>
    </div>
</div>