<div class="container-fluid">
  <div class="card">
    <div class="card-header card-header-grey">
      PONTUAÇÃO POR CURSO
    </div>
    <div class="card-body card-body-centered-lines">
      <div class="row">
        <h5>Área</h5>
        <select name="selectArea" class="form-control form-control-card"
        [(ngModel)]="idAreaSelecionada" (change)="loadCursos()">
          <option hidden disabled selected [value]="0">Escolha uma área</option>
          <option *ngFor="let area of areas" [value]="area.id">{{area.name}}</option>
        </select>         
        <h5>Curso</h5>
        <input #inputCurso class="form-control form-control-card" list="lista-cursos" placeholder="Escolha um curso"
        (input)="selectCurso(inputCurso.value)" [(ngModel)]="inputCursoSelecionado">         
          <datalist id="lista-cursos">
            <option *ngFor="let curso of cursos">{{curso.name}}</option>
          </datalist>
        <button class="btn btn-white" [disabled]="desabilitaButton || cursos.length == 0"
        (click)="setSelectedCurso()">
          Buscar
        </button>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid">
    <div class="card">
      <div class="card-header">
        <div class="row title-curso">{{cursoSelecionado.name}}</div>
      </div>
      <div class="card-body vertical" style="padding: 0;">
        <table id="myTable" class="table table-light table-bordered">
          <col style="width: 55%">
          <col style="width: 15%">
          <col style="width: 15%">
          <col style="width: 15%">
          <thead>
            <tr>
              <th>
                Atividades
              </th>
              <th>
                Pontuação
              </th>
              <th>
                Número Máximo
              </th>
              <th>
                ConverteHoras
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let grupo of grupoAtividades">
              <td>
                <div class="accordion" id="accordionExample">
                  <div class="card">
                    <div class="card-header" id={{grupo.id}}>
                      <h2 class="mb-0">
                        <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" attr.data-target="#demo{{grupo.nome}}" aria-expanded="false" attr.aria-controls="#demo{{grupo.nome}}" (click)="filterAtividadesFromGrupo(atividades, grupo.id)">{{grupo.nome}}</button>
                      </h2>
                    </div>
                    <div attr.id="demo{{grupo.nome}}" class="collapse show" attr.aria-labelledby="{{grupo.id}}" data-parent="#accordionExample">
                      <div class="card-body">
                        {{grupo.nome}} Trabalhos desenvolvidos com orientação docente, apresentados na Instituição (extra sala de aula e extra disciplina específica), em eventos científicos específicos ou seminários multidisciplinares (dentre eles o Inovaweek).
                      </div>
                  </div>
                  </div>
            </div>
              </td>
              <td>teste</td>
              <td>teste2</td>
              <td>teste3</td>
            
            </tr>
          </tbody>
        </table>
        <div class="accordion" id="accordionExample">
            <div class="card"  *ngFor="let grupo of grupoAtividades">
              <div class="card-header" id={{grupo.id}}>
                <h2 class="mb-0">
                  <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" attr.data-target="#demo{{grupo.nome}}" aria-expanded="false" attr.aria-controls="#demo{{grupo.nome}}" (click)="filterAtividadesFromGrupo(atividades, 1)">{{grupo.nome}}</button>
                </h2>
              </div>
              <div attr.id="demo{{grupo.nome}}" class="collapse show" attr.aria-labelledby="{{grupo.id}}" data-parent="#accordionExample">
                <div class="card-body">
                  {{grupo.nome}} Trabalhos desenvolvidos com orientação docente, apresentados na Instituição (extra sala de aula e extra disciplina específica), em eventos científicos específicos ou seminários multidisciplinares (dentre eles o Inovaweek).
                </div>
            </div>
            </div>
      </div>
    </div>
</div>